.apple
{
background-color: purple;
width: 100%;
height: 100vh;
display: flex;
justify-content: center;

}

#button
{
   
    border-radius: 15;
    color:black;
    background-color: yellow;
    margin-top: 40;
    
}